<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="/navbarAdmin"></div>
<div class="container mt-5 bg-body-secondary py-3 rounded">
    <label for="id" class="text-info fs-4">Id:</label>
    <p id="id" th:text="${user.getId()}">VALUE</p>

    <label for="name" class="text-info fs-4">Username:</label>
    <p id="name" th:text="${user.getUsername()}">VALUE</p>


    <div class="container">
        <h2 th:text="'Role : ' + ${user.getRole().getName()}"></h2>
        <p th:text="${user.isActive()} == True ? 'Пользователь: Активный' : 'Пользователь: Неактивный'"></p>
    </div>

    <div class="my-3">
        <a th:href="@{/users/{id}/edit(id=${user.getId()})}"
           class="text-warning fs-4">Edit</a>
    </div>

    <div class="my-3">
        <a th:href="@{/users/delete/{id}(id=${user.getId()})}"
           class="text-danger fs-4">Delete</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>