<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="/navbar"></div>
<div class="container mt-5">
    <div class="row justify-content-center my-5">
        <div class="card col-2 mx-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Мои компьютеры</h5>
                <a href="/pcs" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card col-2 mx-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Мои заказы</h5>
                <a href="/orders" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card col-2 mx-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Профиль</h5>
                <a href="/profile" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>